<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
    version="2.4">

    <display-name>HelloWorld Application</display-name>
    <description>
        This is a simple web application with a source code organization
        based on the recommendations of the Application Developer's Guide.
    </description>
	<!-- Console -->
    <servlet>
        <servlet-name>CreateConsole</servlet-name>
        <servlet-class>es.salesianos.servlet.CreateConsole</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>CreateConsole</servlet-name>
        <url-pattern>CreateConsole</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ListConsole</servlet-name>
        <servlet-class>es.salesianos.servlet.ListConsole</servlet-class>
    </servlet>

	<servlet-mapping>
        <servlet-name>ListConsole</servlet-name>
        <url-pattern>ListConsole</url-pattern>
    </servlet-mapping>

	<servlet>
		<servlet-name>ConsoleDelete</servlet-name>
		<servlet-class>es.salesianos.servlet.ConsoleDelete</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ConsoleDelete</servlet-name>
		<url-pattern>deleteConsole</url-pattern>
	</servlet-mapping>
	
	
	<!-- Videogame -->
	   <servlet>
        <servlet-name>CreateVideogame</servlet-name>
        <servlet-class>es.salesianos.servlet.CreateVideogame</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>CreateVideogame</servlet-name>
        <url-pattern>CreateVideogame</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ListVideogame</servlet-name>
        <servlet-class>es.salesianos.servlet.ListVideogame</servlet-class>
    </servlet>

	<servlet-mapping>
        <servlet-name>ListVideogame</servlet-name>
        <url-pattern>ListVideogame</url-pattern>
    </servlet-mapping>

	<servlet>
		<servlet-name>VideogameDelete</servlet-name>
		<servlet-class>es.salesianos.servlet.VideogameDelete</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>VideogameDelete</servlet-name>
		<url-pattern>VideogameDelete</url-pattern>
	</servlet-mapping>

</web-app>
